<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>ru.ravel.ultunnel-macos</string>

  <key>SMAuthorizedClients</key>
  <array>
    <string>identifier "ru.ravel.ultunnel-macos" and anchor apple generic and certificate leaf[subject.OU] = ASMHMRKL3K</string>
  </array>
</dict>
</plist>
